<header>
	<div class="div_header">
	<h1 class="titre_nav_accueil"><a class="lien_accueil" data-th-href="@{/accueil}">ENI - Encheres</a></h1>
	
		<div class="bloc-conteneur-p">
			<div class="bloc-p-header">
				<div th:if="${#authentication.name} != null">
			  		<p th:text="${#authentication.name}"></p>
				</div>
				<div th:unless="${#authentication.name} == null">
			  		<p></p>
				</div>
			</div>	
			<div class="bloc-p-header">
				<p data-th-text="${utilisateur.credit}>1?${utilisateur.credit}+ ' points' :${utilisateur.credit}+ ' point' "></p>
			</div>	
		</div>

		<nav class="general_nav">
			<!-- Si l'utilisateur est authentifié -->
			<div class="list-a" th:if="${#authentication.name ne 'anonymousUser'}">
				<a class="lien-header" href="/encheres">Enchères</a>
				<a class="lien-header" href="/vendre">Vendre un article</a>
				<a class="lien-header" href="/profil">Mon profil</a>
			    <a id="deco" href="/logout">Déconnexion</a>
			</div>
			
			<!-- Si l'utilisateur n'est pas authentifié -->
			<div class="list-a" th:unless="${#authentication.name ne 'anonymousUser'}">
				<a class="lien-header" href="/accueil">Accueil</a>
			    <a id="connex" href="/connexion">Connexion</a>
			</div>
			
			<!--<p>Statut de l'authentification : <span th:text="${#authentication.isAuthenticated()}"></span></p>
			<p>Statut de l'authentification : <span th:text="${#authentication.name ne 'anonymousUser'}"></span></p>
			!-->
		</nav>
	</div>
	
</header>
