@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

/******   Connexion   *******/

.block-connexion {
	display: block;
	text-align: center;
}

.conteneur-input {
       margin: 20px;
}

#block-conteneur-choix {
	display: flex;
    justify-content: center;
    align-items: center;
}

#block-choix {
    margin: 5px;
    padding: 5px;
}

#block-input-connexion {
	margin: 20px;
    padding: 15px;
}

#block-input-connexion input {
	padding: 10px;
    margin: 5px;
}

.block-checkbox {
	margin: 5px 0;
}

#liens-inscription {
    display: flex;
    margin: 15px;
    justify-content: center;
}

#liens-inscription button {
	display: block;
    padding: 15px 15px;
}

/******  FIN Connexion   *******/

/******   Detail Fin Vente   *******/

.conteneur-block {
	display: flex;
    width: 100%;
}

#conteneur-img-detail {
	display: block;
    margin: 2vh;
    width: 30%;
}

#img-detail{
    width: 350px;
    height: auto;
    max-width: 350px;
}

#h3-description {
    display: flex;
    justify-content: center;
}

.titre-description {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.conteneur-block-centre {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.block-description {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.description {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.p-description {
	margin: 0;
}

.block-button {
    margin-top: 5vh;
}

.block-button button {
    padding: 1vh;
}

/******  FIN Detail Fin Vente   *******/


/******  Inscription   *******/

#h2-creation {
	display: flex;
    justify-content: center;
}

.creationProfil {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.block-infos-creation {
    display: flex;
    flex-direction: column;
}

.infos-creation {
    margin: 1vh;
    display: flex;
    justify-content: space-between;
}

.label-infos-creation {
	margin-right: 3vh;
}

.block-creation-choix {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 4vh;
}

.boutton-creation-choix {
   padding: 1vh 5vh;
}

/******  FIN Inscription   *******/

/******  Vendre un article   *******/

.conteneur-block-centre-vendre {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    width: 55%;
}

.h2-vendre {
    display: flex;
    justify-content: center;
}

.infos-vendre {
    display: flex;
    margin: 1vh;
}

.description-vendre {
    display: flex;
    align-content: flex-end;
    width: 35%;
    text-align: center;
}

.conteneur-block-articleavendre {
	display: flex;
    margin: 2vh;
}

#descriptionArticle {
	height: 60px;
	text-align: start;
}

.boutton-vendre-choix {
   padding: 1vh 5vh;
   margin: 2vh 2vh 2vh 0;
}

/******   FIN Vendre un article   *******/

/******    Page accueil     *******/

.div_header{
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh;
	}

.h2_accueil{
	display: flex;
	justify-content: center;
}
.form_accueil{
	display: flex;
	align-items: center;
}
.form_accueil label{
	margin-bottom: 1vh;
}
.gauche_accueil{
	margin: 1vh;
	margin-left:2vh;
	margin-bottom: 0;
	width: 40%;
}
.div_label_filtre_accueil {
    margin: 1vh;
    display: flex;
    flex-direction: column;
}
.div_label_categorie_accueil{
	margin: 1vh;
}
.button_rechercher_accueil{
	width: 30vh;
	height: 5vh;
	margin-left: 5vh;
}
.filtre_accueil{
	width: 100%;
	margin-right: 10vh;
}
.categorie_accueil{
	width: 25vh;
}
.listes_accueil{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.card_accueil{
	border: 1px black solid;
	border-radius: 15px;
	margin: 1.5vh;
	width: 30%;
	display: flex;
}
.img_accueil{
	width: 15vh;
	margin: 1vh;
}

/******   FIN Page accueil     *******/

/******   Page Modif profil     *******/

.block-infos-creation-credit {
    display: flex;
    justify-content: center;
    margin: 2vh;
}

/******   FIN Page Modif profil    *******/

/******   Pages listes enchéres connecté    *******/

.div_label_filtre_accueil input{
	border-radius: 1vh;
}
.general_nav a{
	margin-right: 1.5vh;
}
.general_radio_enchere{
	display: flex;
	width: 100%;
}
.radio_enchere{
	width: 50%;
	margin-top: 1vh;
	margin-bottom: 1vh;
}
.checkbox_enchere{
	margin-bottom: 1vh;
	margin-top: 1vh;
	margin-left: 3vh;	
}
.checkbox_enchere input {
	display:flex;
}
.checkbox_enligne{
	display: flex;
    align-items: flex-start;
}

/******     FIN Pages listes enchéres connecté    *******/

/**** style Encherir ***/

.block-description.proposition {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-button.proposition {
    margin-top: 0;
    margin-left: 3em;
    margin-right: 8em;
    
}

/******     FIN Page encherir    *******/

/******     DEBUT Page Profil   *******/

.blod-profil {
    font-weight: bold;
}

.conteneur-block-centre-profil {
	margin: 2vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.infos-profil {
	display: flex;
    margin: 1vh;
    justify-content: space-evenly;
    width: 50%;
}

.titre-description-profil {
	display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.description-vendre-profil {
    display: flex;
    align-content: flex-end;
    width: 30%;
    text-align: center;
}

.form-profil {
    display: flex;
    margin: 5vh;
    justify-content: center;
}

.profil-modifier {
    padding: 2vh 5vh;
}

/******     FIN Page Profil   *******/





