@charset "UTF-8";

.center{
	max-width: 1024px;
	margin-left: auto; 
	margin-right: auto;	
}


#form_profil{
	max-width: 400px;
	margin-left: auto; 
	margin-right: auto;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#form_profil div{
	margin-top: 1vh;
}
.form_profil_input{
	width: 300px;
}

.button-profil{
    display: block;
    margin-left: 200px;
    margin-right: auto;	
}
.profil-modifier{
	width: 100px;
}
