<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet">
<title>Page Connexion</title>
</head>
<body>
	<h1>ENI-Enchères</h1>

	<div class="block-connection">
		<form action="connexion" method="post">
			<div class="conteneur-input">
				<label for="name">Identifiant : </label> 
				<input type="text" id="name" name="user_name">
			</div>
			<div class="conteneur-input">
				<label for="mdp">Mot de passe : </label>
				<input type="password" id="mdp" name="mdp">
			</div>
			
			<input type="submit" name="Connexion">
			
			<div id="block-choix">
				<div id="block-checkbox">
					<input type="checkbox" name="ssdm" >
					<label for="ssdm">Se souvenir de moi</label>
				</div>
				<a href="#">Mot de passe oublier</a>
			</div>
			
			<div>
				<button href="/PageCreerCompte">Créer un compte</button>
			</div>
		</form>
	</div>
</body>
</html>