<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page d'accueil</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>

	<header>
		<div data-th-replace="~{fragments/header :: header}"></div>
	</header>

	<main>
		<h2 class="h2_accueil">Liste des enchères</h2>

			<form data-th-action="@{/accueil/articleParCategorie}" data-th-object="${articleVendu}" method="GET" class="form_accueil">

			<div class="gauche_accueil">
				<div class="div_label_filtre_accueil">
					<label for="filtre" class="label_filtre_accueil">Filtres : </label>
					<input type="text" name="filtre" id="filtre" placeholder="🔍 Le nom de l'article contient" class="filtre_accueil"/>
				</div>
				
				<div class="div_label_categorie_accueil">
				<label class="titre-description" for="categorie">Catégorie :</label>
					<select name="idCategorie" id="idCategorie">
   						<option th:each="categorie: ${@categorieService.getCategorie()}" th:value="${categorie.idCategorie}" th:text="${categorie.libelle}"></option>
   					</select>
				</div>
			</div >
			<div class="rechercher_accueil">
				<button type="submit" class="button_rechercher_accueil">Rechercher</button>
			</div>
			</form>
			
			<div class="listes_accueil" data-th-each="article : ${articleVendu}">
				<div class="card_accueil"><a class="block-enchere" id="article" th:href="@{/encherir(idArticle=${article.idArticle})}">
					<div class="img_card_accueil">
						<img alt="" src="/img/1.jpg" class="img_accueil">
					</div>
					<div class="description_accueil">
						<p data-th-text="${article.nomArticle}"></p>
						<p>Prix : <span data-th-text="${article.miseAPrix}+ ' ' + points"></span></p>
						<p>Fin de l'enchère : <span data-th-text="${article.dateFinEncheres}"></span></p>
						<p>Vendeur : <span data-th-text="${article.utilisateur.pseudo}"></span>Vendeur</p>
						<p>Id de la catégorie : <span data-th-text="${article.categorie.idCategorie}"></span></p>
					</div>
				</div>
			</a></div>
			
			<div data-th-if="${articleVendu.isEmpty()}">
			<p class="erreur-vente">Aucun article en vente pour cette recherche</p>
			</div>
	</main>

</body>
</html>