<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Création de votre compte</title>
<script src="https://kit.fontawesome.com/dc547d252d.js" crossorigin="anonymous"></script>
</head>
<body>

	<header>
		<h1>ENI - Enchères</h1>
	</header>
	
	<main>
		<h2>Mon profil</h2>
		
		<form action="/PageCreerCompte" method="POST">
		
			<div class="creationProfil">
				<label for="pseudo">Pseudo : </label>
				<input type="text" id="creationPseudo"/>
				
				<label for="nom">Nom  :</label>
				<input type="text" id="creationNom"/>
				
				<label for="prenom">Prénom : </label>
				<input type="text" id="creationPrenom"/>
				
				<label for="email">Email : </label>
				<input type="text" id="creationEmail"/>
				
				<label for="telephone">Téléphone : </label>
				<input type="text" id="creationTelephone"/>
				
				<label for="rue">Rue : </label>
				<input type="text" id="creationRue"/>
				
				<label for="codePostal">Code Postal : </label>
				<input type="text" id="creationCP"/>
				
				<label for="ville">Ville </label>
				<input type="text" id="creationVille"/>
				
				<label for="motDePasse">Mot de Passe : </label>
				<input type="text" id="creationMDP"/>
				
				<label for="confMDP"> Confirmation Mot de Passe </label>
				<input type="text" id="creationConfMDP"/>
				
				<button type="submit">Créer</button>
				<button type="reset">Annuler</button>
			</div>
		</form>
		
	</main>

</body>
</html>