<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header>
		<h1>ENI - Encheres</h1>
	</header>
	<form action="#" method="post">
		<div>
			<label for="pseudo">Pseudo :</label>
			<input type="text" name="pseudo" id="pseudo" required>
			<label for="nom">Nom :</label>
			<input type="text" name="nom" id="nom" required>
			<label for="Prénom">Prénom :</label>
			<input type="text" name="prenom" id="prenom" required>
			<label for="email">Email :</label>
			<input type="email" name="email" id="email" required>
			<label for="tel">Téléphonne :</label>
			<input type="tel" name="tel" id="tel" required>
			<label for="rue">Rue :</label>
			<input type="text" name="rue" id="rue" required>
			<label for="cdp">Code postal :</label>
			<input type="number" name="cdp" id="cdp" required>
			<label for="ville">Ville :</label>
			<input type="text" name="ville" id="ville" required>
		</div>
		<input type="button" value="Modifier">
	</form>
</body>
</html>