<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page Encherir</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
		<div data-th-replace="~{fragments/header :: header}"></div>
	<div class="conteneur-block" th:object="${article}">
		<div id="conteneur-img-detail">
			<img id="img-detail" alt="" src="/img/imagePcTest.jpeg">	
		</div>
		
		<div class="conteneur-block-centre">
			
			<div id="h3-description">
				<h3>Détail vente</h3>
			</div>
			
			<div class="block-description">
				<p data-th-text="*{nomArticle}">Nom de l'article</p>
			</div>
			
			<div class="block-description">		
				<p class="titre-description">Description :</p>
				
				<div class="description">
					<p class="p-description" data-th-text="*{description}">Description 1</p>
					<p class="p-description" data-th-text="*{description}">Description 1</p>
				</div>
			</div>
			
			<div class="block-description">
				<p class="titre-description">Catégorie :</p>
				<p class="description" data-th-text="*{categorie.libelle}">Informatique</p>
			</div>
			
			<div class="block-description">
				<p class="titre-description">Meilleur offre :</p>
				<p class="description" data-th-text="*{'enchere.montantEnchere' +'enchere.idUtilisateur'}">210 pts par jojo</p>
			</div>
			
			<div class="block-description">
				<p class="titre-description">Mise à prix :</p>
				<p class="description" data-th-text="*{miseAPrix}">185 points</p>
			</div>
			
			<div class="block-description">
				<p class="titre-description">Fin de l'enchère :</p>
				<p class="description" data-th-text="*{dateFinEncheres}">09/10/2018</p>
			</div>
			
			<div class="block-description">
				<p class="titre-description">Retrait :</p>
				
				<div class="description">
				<p class="p-description">5 rue des Pisons</p>
				<p class="p-description">44000 Nantes</p>
				</div>
			</div>
			
			<div class="block-description">
				<p class="titre-description">Vendeur :</p>
				<p class="description" data-th-text="*{utilisateur.pseudo}">NinaJea</p>
			</div>
			
			<div class="block-description proposition">
				<p class="titre-description">Ma proposition : </p>
				<input type="number">
				<div class="block-button proposition">
					<button onclick="window.location.href='/'" class="encherir">Enchérir</button>
				</div>
			</div>
			
			
			
			
		</div>
	</div>
</body>
</html>