<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page Encherir</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div data-th-replace="~{fragments/header :: header}"></div>
	
	<div class="conteneur-block" th:object="${articleVendu}">
		<div id="conteneur-img-detail">
			<img id="img-detail" alt="" src="/img/imagePcTest.jpeg">	
		</div>
		
		<div class="conteneur-block-centre">
			
			<div id="h3-description">
				<h3>Détail vente</h3>
			</div>
			
			<form th:action="@{/encherir}">
				<div class="block-description-article">
					<h4 data-th-text="*{nomArticle}"></h4>
				</div>
				
				<div class="block-description">		
					<p class="titre-description">Description :</p>
					
					<div class="description">
						<p class="p-description" data-th-text="*{description}"></p>
					</div>
				</div>
				
				<div class="block-description">
					<p class="titre-description">Catégorie :</p>
					<p class="description" data-th-text="*{categorie.libelle}"></p>
				</div>
				
				<div class="block-description">
					<p class="titre-description">Meilleur offre :</p>
					<p class="description" data-th-text="*{'enchere.montantEnchere'}"></p>
				</div>
				
				<div class="block-description">
					<p class="titre-description">Mise à prix :</p>
					<p class="description" data-th-text="*{miseAPrix} + ' ' + points"></p>
				</div>
				
				<div class="block-description">
					<p class="titre-description">Fin de l'enchère :</p>
					<p class="description" data-th-text="*{dateFinEncheres}"></p>
				</div>
				
				<div class="block-description-retrait">
					<p class="titre-description">Retrait :</p>
					
					<div class="description">
						<p class="p-description" data-th-text="*{utilisateur.rue} + ' '"></p>
						<div>
							<span class="p-description" data-th-text="*{utilisateur.codePostal} + ' '"></span>
							<span class="p-description" data-th-text="*{utilisateur.ville}"></span>
						</div>
					</div>
				</div>
				
				<div class="block-description">
					<p class="titre-description">Vendeur :</p>
					<p class="description" data-th-text="*{utilisateur.pseudo}"></p>
				</div>
				
				<div class="block-description proposition">
					<p class="titre-description">Ma proposition : </p>
					<input type="number" name="prixEnchere" data-th-field="*{enchere.montantEnchere}">
					<div class="block-button proposition">
						<button class="encherir" type="submit">Enchérir</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>