<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pages Liste Enchères connecté</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div data-th-replace="~{fragments/header :: header}"></div>
		<h2 class="h2_accueil">Liste des enchères</h2>
		
		<h3>Bonjour, <span th:text="${#authentication.name}"></span> !</h3>
		
		
		<form data-th-action="@{/liste-encheres/mes-ventes}" method="GET" class="form_accueil">
			<div class="gauche_accueil">
				<div class="div_label_filtre_accueil">
					<label class="label_filtre_accueil">Filtres : </label>
					<input type="text" name="filtre" id="filtre" placeholder="🔍 Le nom de l'article">
				</div>
				<div class="div_label_categorie_accueil">
				<label class="titre-description" for="categorie">Catégorie :</label>
					<select name="idCategorie" id="idCategorie">
   						<option th:each="categorie: ${@categorieService.getCategorie()}" th:value="${categorie.idCategorie}" th:text="${categorie.libelle}"></option>
   					</select>
				</div>
				<div class="general_radio_enchere">
					<div class="radio_enchere">
						<input type="radio" value="achats" name="achatvente" onclick="activerCheckbox()"><label>Achats</label>
						<div class="checkbox_enchere">
							<div class="checkbox_enligne">
								<input type="checkbox" name="" id="encheresOuverte" disabled><label>enchères ouvertes</label>
							</div>
							<div class="checkbox_enligne">
								<input type="checkbox" name="" id="mesEncheresEnCours" disabled><label>mes enchères en cours</label>
							</div>
							<div class="checkbox_enligne">
								<input type="checkbox" name="" id="mesEncheresRemportees" disabled><label>mes enchères remportées</label>
							</div>
						</div>
					</div>
					<div class="radio_enchere">	
						<input type="radio" value="ventes" name="achatvente" onclick="activerCheckbox()"><label>Mes ventes</label>
						<div class="checkbox_enchere">
							<div class="checkbox_enligne">
								<input type="checkbox" name="" id="mesVentesEnCours" disabled><label>mes ventes en cours</label>
							</div>
							<div class="checkbox_enligne">
								<input type="checkbox" name="" id="ventesNoDebutees" disabled><label>ventes non débutées</label>
							</div>
							<div class="checkbox_enligne">
								<input type="checkbox" name="" id="ventesTerminees" disabled><label>ventes terminées</label>
							</div>
						</div>
					</div>
				</div>
			</div>				
		<div class="rechercher_accueil">
			<button type="submit" class="button_rechercher_accueil">Rechercher</button>
		</div>
	</form>
	<div class="listes_general">
		<div class="listes_accueil" data-th-each="article : ${articleVendu}">
			<div class="card_accueil">
				<a class="block-enchere" id="article" th:href="@{/encherir(idArticle=${article.idArticle})}">
					<div class="img_card_accueil">
						<img alt="" src="/img/1.jpg" class="img_accueil">
					</div>
					<div class="description_accueil">	
						<p data-th-text="${article.nomArticle}"></p>
						<p>Prix : <span data-th-text="${article.miseAPrix}+ ' ' + points"></span></p>
						<p> Fin de l'enchère : <span data-th-text="${article.dateFinEncheres}"></span></p>
						<p>Vendeur : <span data-th-text="${article.utilisateur.pseudo}"></span></p>
					</div>
				</a>
			</div>
		</div>
	</div>
		<div data-th-if="${articleVendu.isEmpty()}">
			<p class="erreur-vente">Aucun article en vente pour cette recherche</p>
		</div>
	<script type="text/javascript" src="/script/checkBox.js"></script>
</body>
</html>