<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet">
<title>Nouvelle vente</title>
</head>
<body>

	<div data-th-replace="~{fragments/header :: header}"></div>
	
	<main>
		<div class="conteneur-block-articleavendre">
			<div class="div-img-articleavendre">
        		<img id="apercuImage" class="img-articleavendre" alt="Aperçu de l'image" src="#" style="display: hidden;">
			</div>	
			
			<div class="conteneur-block-centre-vendre">
				<div class="h2-vendre">
					<h2>Nouvelle vente</h2>
				</div>
				
				<form class="block-detail-vendre" data-th-action="@{/vendre/valider}" data-th-object="${articleVendu}" method="post">
				<input type="hidden" th:field="*{idArticle}"  />
					<div  class="block-conteneur-infos-vendre">
					
						
						
						<div class="infos-vendre">
						   	<label class="titre-description" for="nomArticle">Nom de l'article:</label>
    						<input class="description-vendre" type="text" id="nomArticle" name="nomArticle" th:field="*{nomArticle}" />
   							
						</div>
						
						<div class="infos-vendre">
							<label class="titre-description" for="article">Description :</label>
							<textarea class="description-vendre" id="descriptionArticle" th:field="*{description}"/></textarea>
							
						</div>
						
						<div class="infos-vendre">
							<label class="titre-description" for="categorie">Catégorie :</label>
								<select name="categories" id="categories" th:field="*{categorie}">
									<option th:each="categorie: ${@categorieService.getCategorie()}" th:value="${categorie.idCategorie}" th:text= "${categorie.libelle}"></option>
								</select>
						</div>
						
						<div class="infos-vendre">
							<label class="titre-description" for="telechargerImage">Photo de l'article :</label>
							<input class="description-vendre" type="file" id="imageInput" onchange="afficherApercuImage(event)"/>
						</div>		
						
						<div class="infos-vendre">
							<label class="titre-description" for="prixArticle">Mise à prix :</label>
							<input class="description-vendre" type="number" id="prixArticle" min="1" th:field="*{miseAPrix}"/>
							
						</div>				
						
						<div class="infos-vendre">
							<label class="titre-description" for="debutEnchere">Début de l'enchère :</label>
							<input class="description-vendre" type="date" value="2023-06-29" min="2023-06-29" th:field="*{dateDebutEncheres}"  id="debutEnchere"/>
						</div>		
						
						<div class="infos-vendre">
							<label class="titre-description" for="finEnchere">Fin de l'enchère :</label>
							<input class="description-vendre" type="date" value="2023-06-29" min="2023-06-29" th:field="*{dateFinEncheres}"  id="finEnchere" />
						</div>
					</div>

				<fieldset class="block-detail-vendre">
				<legend>Retrait</legend>
		
						<div class="infos-vendre">
							<label class="titre-description" for="rue">Rue :</label>
							<input class="description-vendre" type="text" id="rueNouvelleArticle"/>
						</div>
						
						<div class="infos-vendre">
							<label class="titre-description" for="codePostal">Code postal :</label>
							<input class="description-vendre" type="text" id="codePostalNouvelArticle"/>
						</div>
						
						<div class="infos-vendre">
							<label class="titre-description" for="ville">Ville :</label>
							<input class="description-vendre" type="text" id="villeNouvelArticle"/>
						</div>
				</fieldset>
						<div class="boutton-vendre">
							<button class="boutton-vendre-choix" type="submit">Enregistrer</button>
							<button class="boutton-vendre-choix" type="reset">Annuler</button>
						</div>
					</form>
				

			</div>
		</div>
	</main>
	<script type="text/javascript" src="/script/script.js"></script>
</body>
</html>