<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page Acquisition</title>
<script src="https://kit.fontawesome.com/dc547d252d.js"></script>
</head>
<body>
	<div data-th-replace="~{fragments/header :: header}"></div>
	<h2>Détail vente</h2>
	<form action="" method="post"></form>
		<img alt="photo object vente" src="">
		<h3>PC Gamer pour travailler</h3>
		<h3>Description : </h3>
		<p>bla bla</p>
		<h3>Catégorie : </h3>
		<p>Informatique</p>
		<h3>Meilleure offre :</h3>
		<p> 210 pts par Bob</p>
		<h3>Mise à prix</h3>
		<p>185 points</p>
		<h3>Fin de l'enchère : </h3>
		<p> 09/10/2018</p>
		<h3>Retrait : </h3>
		<p>10 allée des Alouettes</p>
		<p>44800 Saint Herblain</p>
		<h3>Vendeur : </h3>
		<p>jojo44</p>
		<h3>Ma proposition : </h3>
		<input type="number" name="enchere">
		<a href="/">Enchérir</a>
	</form>
</body>
</html>