<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<div data-th-replace="~{fragments/header :: header}"></div>
	</header>
	<main>
		<div class="center-profil">
				<div class="container-profil">
					<label for="pseudo">Pseudo :</label>
					<span data-th-text="${utilisateur.pseudo}"></span>
				</div>
				<div class="container-profil">
					<label for="nom">Nom :</label>
					<span data-th-text="${utilisateur.nom}"></span>
				</div>
				<div class="container-profil">
					<label for="Prénom">Prénom :</label>
					<span data-th-text="${utilisateur.prenom}"></span>			
				</div>
				<div class="container-profil">
					<label for="email">Email :</label>
					<span data-th-text="${utilisateur.email}"></span>		
				</div>
				<div class="container-profil">
					<label for="tel">Téléphonne :</label>
					<span data-th-text="${utilisateur.telephone}"></span>
				</div>
				<div class="container-profil">
					<label for="rue">Rue :</label>
					<span data-th-text="${utilisateur.rue}"></span>
				</div>
				<div class="container-profil">
					<label for="cdp">Code postal :</label>
					<span data-th-text="${utilisateur.codePostal}"></span>
				</div>
				<div class="container-profil">
					<label for="ville">Ville :</label>
					<span data-th-text="${utilisateur.ville}"></span>	
				</div>	
				<form class="form-profil" action="/modifierProfil" method="get">
				    <div class="button-profil">
				        <input type="submit" value="Modifier" class="profil-modifier">
				    </div>
				</form>
		</div>
	</main>
</body>
</html>