<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet">
<title>Création de votre compte</title>
<script src="https://kit.fontawesome.com/dc547d252d.js"></script>
</head>
<body>

	<header>
		<h1>ENI - Enchères</h1>
	</header>
	
	<main>
		<h2 id="h2-creation">Mon profil</h2>
		
		<form th:action="@{/profil/modifier}" th:object="${utilisateur}" method="post">
			<input type="hidden" th:field="*{idUtilisateur}"  />
			<div class="creationProfil">
				<div class="block-infos-creation">
					<div class="infos-creation">
						<label class="label-infos-creation" for="pseudo">Pseudo : </label>
						<input type="text" id="creationPseudo" th:field="*{pseudo}"/>
					</div>
					<div class="infos-creation">
						<label class="label-infos-creation" for="prenom">Prénom : </label>
						<input type="text" id="creationPrenom" th:field="*{prenom}"/>
					</div>
					<div class="infos-creation">
						<label class="label-infos-creation" for="telephone">Téléphone : </label>
						<input type="text" id="creationTelephone" th:field="*{telephone}"/>
					</div>
					<div class="infos-creation">
						<label class="label-infos-creation" for="codePostal">Code Postal : </label>
						<input type="text" id="creationCP" th:field="*{codePostal}"/>
					</div>
					<div class="infos-creation">
						<label class="label-infos-creation" for="motDePasse">Mot de Passe : </label>
						<input type="password" id="creationMDP" th:field="*{motDePasse}"/>
					</div>
				</div>
				
				<div class="block-infos-creation">
					<div class="infos-creation">
						<label class="label-infos-creation" for="nom">Nom  :</label>
						<input type="text" id="creationNom" th:field="*{nom}"/>
					</div>
					<div class="infos-creation">
						<label class="label-infos-creation" for="email">Email : </label>
						<input type="email" id="creationEmail" th:field="*{email}"/>					
					</div>
					<div class="infos-creation">
						<label class="label-infos-creation" for="rue">Rue : </label>
						<input type="text" id="creationRue" th:field="*{rue}"/>					
					</div>
					<div class="infos-creation">
						<label class="label-infos-creation" for="ville">Ville : </label>
						<input type="text" id="creationVille" th:field="*{ville}"/>					
					</div>
					<div class="infos-creation">
						<label class="label-infos-creation" for="confMDP"> Confirmation : </label>
						<input type="password" id="creationConfMDP"/>
					</div>
				</div>
			</div>
			<div class="block-creation-choix">
			
				<div class="creation-choix">
					<button class="boutton-creation-choix" type="submit">Créer</button>
				</div>
				
				<div class="creation-choix">
			       <button class="boutton-creation-choix" type="reset">Annuler</button> 
				</div>
				
			</div>
		</form>
	</main>
</body>
</html>