<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page d'accueil</title>
<script src="https://kit.fontawesome.com/dc547d252d.js"></script>
</head>
<body>

	<header>
		<h1>ENI - Enchères</h1>
		<nav>
			<a href="/connexion">S'inscrire - Se connecter</a>
		</nav>
	</header>

	<main>
		<h2>Liste des enchères</h2>
			<form action="/PageAccueilNonConnecte" method="POST">
				<div>
					<label for="filtres">Filtres : </label>
					<i class="fa-solid fa-magnifying-glass"></i>
					<input type="search" id="filtres"/>
				</div>
				
				<div>
				<label for="categories">Catégories : </label>
				<select name="categories" id="categories">
					<option value="Toutes">-- Toutes catégorie --</option>
					<option value="Informatique">Informatique</option>
					<option value="Ameublement">Ameublement</option>
					<option value="Vêtement">Vêtement</option>
					<option value="Sport&Loisirs">Sport & Loisirs</option>
				</select>
				</div>
				
				<div>
				<button type="submit">Rechercher</button>
				</div>
			</form>
			
			<div>
			<p>Encadré des enchères en cours</p>
			<p>Info du produit</p>
			<p>Prix du produit</p>
			<p>Fin de l'enchère : date</p>
			<p>Vendeur</p>
			</div>

	</main>

</body>
</html>