<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detail Ma Fin De Vente</title>
</head>
<body>

	<div class="conteneur-block">
		<div class="img-detail">
			<img alt="" src="">	
		</div>
		
		<div>
			<p>A remporté</p>
			<p>Nom de l'article</p>
			
			<div class="block-description">		
				<p class="titre-description">Description :</p>
				
				<div class="description">
					<p>Description 1</p>
					<p>Description 1</p>
				</div>
			</div>
			
			<div class="block-description">
				<p>Meilleur offre :</p>
				<p>210 pts par jojo</p>
			</div>
			
			<div class="block-description">
				<p>Mise a prix :</p>
				<p>185 points</p>
			</div>
			
			<div class="block-description">
				<p>Fin de l'enchère :</p>
				<p>185 points</p>
			</div>
			
			<div class="block-description">
				<p>Retrait :</p>
				<p>5 rue des Pisons 44000 Nantes</p>
			</div>
			
			<div class="block-description">
				<p>Vendeur :</p>
				<p>NinaJea</p>
			</div>
			
			<div class="block-button">
				<button>Retrait effectué</button>
			</div>
		</div>
	</div>

</body>
</html>