<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet">
<title>Nouvelle vente</title>
<script src="https://kit.fontawesome.com/dc547d252d.js"></script>
</head>
<body>

	<div data-th-replace="~{fragments/header :: header}"></div>
	
	<main>
		<div class="conteneur-block-articleavendre">
			<div>
        		<img  class="img-articleavendre" alt="Informatique" src="/img/1.jpg">
			</div>	
			
			<div class="conteneur-block-centre-vendre">
				<div class="h2-vendre">
					<h2>Nouvelle vente</h2>
				</div>
				
				<form class="block-detail-vendre" data-th-action="@{/vendre}" data-th-object="${articleVendu}" method="POST">
					<div  class="block-conteneur-infos-vendre">
						<div class="infos-vendre">
							<label class="titre-description" for="article">Article :</label>
							<input class="description-vendre" type="text" id="article"/>
						</div>
						
						<div class="infos-vendre">
							<label class="titre-description" for="article">Description :</label>
							<textarea class="description-vendre" id="descriptionArticle"/></textarea>
						</div>
						
						<div class="infos-vendre">
							<label class="titre-description" for="categorie">Catégorie :</label>
								<select name="categories" id="categories">
									<option value="choisirCategorie">-- Choisir une catégorie --</option>
									<option value="1">Informatique</option>
									<option value="2">Ameublement</option>
									<option value="3">Vêtement</option>
									<option value="4">Sport & Loisirs</option>
								</select>
						</div>
						
						<div class="infos-vendre">
							<label class="titre-description" for="telechargerImage">Photo de l'article :</label>
							<input class="description-vendre" type="file"/>
						</div>			
						
						<div class="infos-vendre">
							<label class="titre-description" for="prixArticle">Mise à prix :</label>
							<input class="description-vendre" type="number" id="prixArticle"/>
						</div>				
						
						<div class="infos-vendre">
							<label class="titre-description" for="debutEnchere">Début de l'enchère :</label>
							<input class="description-vendre" type="date" id="debutEnchere"/>
						</div>		
						
						<div class="infos-vendre">
							<label  class="titre-description" for="finEnchere">Fin de l'enchère :</label>
							<input  class="description-vendre" type="date" id="finEnchere"/>
						</div>
						
					</div>

				
				<fieldset class="block-detail-vendre">
				<legend>Retrait</legend>
		
						<div class="infos-vendre">
							<label class="titre-description" for="rue">Rue :</label>
							<input class="description-vendre" type="text" id="rueNouvelleArticle"/>
						</div>
						
						<div class="infos-vendre">
							<label class="titre-description" for="codePostal">Code postal :</label>
							<input class="description-vendre" type="text" id="codePostalNouvelArticle"/>
						</div>
						
						<div class="infos-vendre">
							<label class="titre-description" for="ville">Ville :</label>
							<input class="description-vendre" type="text" id="villeNouvelArticle"/>
						</div>
				</fieldset>
						<div class="boutton-vendre">
							<button class="boutton-vendre-choix" type="submit">Enregistrer</button>
							<button class="boutton-vendre-choix" type="reset">Annuler</button>
						</div>
					</form>
				

			</div>
		</div>
	</main>

</body>
</html>