<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nouvelle vente</title>
</head>
<body>

	<header>
		<h1>ENI - Enchères</h1>
		<nav>
			<a href="/PageVendreUnArticle">Enchères</a>
			<a href="/PageVendreUnArticle">Vendre un article</a>
			<a href="/PageMonProfil">Mon profil</a>
			<a href="/connexion">Déconnexion</a>
		</nav>
	</header>
	
	<main>
		<h2>Nouvelle vente</h2>
		<img src="" alt="">
		
		<form action="/PageVendreUnArticle" method="POST">
			<div>
				<label for="article">Article :</label>
				<input type="text" id="article"/>
				
				<label for="article">Description :</label>
				<input type="text" id="descriptionArticle"/>
				
				<label for="categorie">Catégorie :</label>
					<select name="categories" id="categories">
					<option value="choisirCategorie">-- Choisir une catégorie --</option>
					<option value="informatique">Informatique</option>
					<option value="ameublement">Ameublement</option>
					<option value="vetement">Vêtement</option>
					<option value="sport&Loisirs">Sport & Loisirs</option>
				</select>
				
				<label for="prixArticle">Mise à prix :</label>
				<input type="number" id="prixArticle"/>
				
				<label for="debutEnchere">Début de l'enchère :</label>
				<input type="date" id="debutEnchere"/>
				
				<label for="finEnchere">Fin de l'enchère :</label>
				<input type="date" id="finEnchere"/>
				
				<label for="article">Article :</label>
				<input type="text" id="article"/>
			</div>
		</form>
	
		<fieldset>
			<legend>Retrait</legend>
				<form>
					<label for="rue">Rue :</label>
					<input type="text" id="rueNouvelleArticle"/>
					
					<label for="codePostal">Code postal :</label>
					<input type="text" id="codePostalNouvelArticle"/>
					
					<label for="ville">Ville :</label>
					<input type="text" id="villeNouvelArticle"/>
				</form>
		</fieldset>

		<div>
		<button type="submit">Enregistrer</button>
		<button type="reset">Annuler</button>
		</div>
	</main>
	
	<i class="fa-solid fa-brake-warning"><span>Par défaut, le retrait est effectué à l'adresse du vendeur</span></i>
	

</body>
</html>