<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
<meta charset="UTF-8">
<title>Page Encherir</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div data-th-replace="~{fragments/header :: header}"></div>

	<div class="conteneur-block" th:object="${articleVendu}">
		<div id="conteneur-img-detail">
			<img id="img-detail" alt="" src="/img/imagePcTest.jpeg">
		</div>

		<div class="conteneur-block-centre">

			<div id="h3-description">
				<h3>Détail vente</h3>
			</div>

			
			<form id="encherir" th:action="@{/encherir}" method="post">
				<input type="hidden" th:field="*{idArticle}"  />

				<div class="block-description-article">
					<h4 data-th-text="*{nomArticle}"></h4>
				</div>

				<div class="block-description">
					<p class="titre-description">Description :</p>

					<div class="description">
						<p class="p-description" data-th-text="*{description}"></p>
					</div>
				</div>

				<div class="block-description">
					<p class="titre-description">Catégorie :</p>
					<p class="description" data-th-text="*{categorie.libelle}"></p>
				</div>

				<div class="block-description">

					<p class="titre-description">Meilleur offre :</p>
					<p class="description" id="meilleurOffre" th:with="meilleurOffre=${enchere.montantEnchere}" th:text="${enchere.montantEnchere} + ' ' + 'point(s)'
						+ ' par ' + ${}"></p>
					
				</div>

				<div class="block-description">
					<p class="titre-description">Mise à prix :</p>
					<p class="description" data-th-text="*{miseAPrix} + ' ' + points"></p>
				</div>

				<div class="block-description">
					<p class="titre-description">Fin de l'enchère :</p>
					<p class="description" data-th-text="*{dateFinEncheres}"
						id="dateFinEncheres"></p>
				</div>

				<div class="block-description-retrait">
					<p class="titre-description">Retrait :</p>

					<div class="description">
						<p class="p-description" data-th-text="*{utilisateur.rue} + ' '"></p>
						<div>
							<span class="p-description"
								data-th-text="*{utilisateur.codePostal} + ' '"></span> <span
								class="p-description" data-th-text="*{utilisateur.ville}"></span>
						</div>
					</div>
				</div>

				<div class="block-description">
					<p class="titre-description">Vendeur :</p>
					<p class="description" id="vendeur" data-th-text="*{utilisateur.pseudo}"></p>
				</div>

				<div class="block-description proposition-debut">
				    <p class="titre-description">Ma proposition :</p>
				    <input type="number" id="maProposition" name="prixEnchere">
				    <div class="block-button proposition">
				        <button type="submit">Enchérir</button>
				    </div>

				</div>
				<div id="erreurMessage" style="display: none; color: red;"></div>

				

			</form>
			<div class="block-description proposition-fin">
				<p class="titre-description">Fin de l'enchère</p>
				<p class="titre-description" id="dateFinEncheres"
					data-th-text="*{dateFinEncheres}"></p>
				<div class="block-button proposition">
					<button onclick="window.location.href='/'">Retour à
						l'accueil</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/script/checkBox.js"></script>
</body>
</html>