<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/styleflo.css" rel="stylesheet">
</head>
<body>
	<header>
		<h1>ENI - Encheres</h1>
	</header>
	<div class="center">
			<div>
				<label for="pseudo">Pseudo :</label>
				<span data-th-field="${utilisateur.pseudo}">PseudoUserTest</span>
			</div>
			<div>
				<label for="nom">Nom :</label>
				<span data-th-field="${utilisateur.nom}">NomUserTest</span>
			</div>
			<div>
				<label for="Prénom">Prénom :</label>
				<span data-th-field="${utilisateur.prenom}">PrenomUserTest</span>			
			</div>
			<div>
				<label for="email">Email :</label>
				<span data-th-field="${utilisateur.email}">EmailUserTest</span>		
			</div>
			<div>
				<label for="tel">Téléphonne :</label>
				<span data-th-field="${utilisateur.telephone}">TéléphoneUserTest</span>
			</div>
			<div>
				<label for="rue">Rue :</label>
				<span data-th-field="${utilisateur.rue}">RueUserTest</span>
			</div>
			<div>
				<label for="cdp">Code postal :</label>
				<span data-th-field="${utilisateur.codePostal}">CPUserTest</span>
			</div>
			<div>
				<label for="ville">Ville :</label>
				<span data-th-field="${utilisateur.ville}">VilleUserTest</span>		
			</div>
			<form action="/modifierProfil" method="get">
			    <div class="button-profil">
			        <input type="submit" value="Modifier" class="profil-modifier">
			    </div>
			</form>

	</div>
</body>
</html>