<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page Connexion</title>
</head>
<body>
	<h1>ENI-Enchères</h1>

	<form action="connexion" method="post">
		<div>
			<label for="name">Identifiant : </label> <input type="text" id="name"
				name="user_name">

		</div>
		<div>
			<label for="mdp">Mot de passe : </label>
			 <input type="password" id="mdp" name="mdp">
		</div>
		<input type="submit" name="Connexion">
		<input type="checkbox" name="ssdm" >
		<label for="ssdm">Se souvenir de moi</label>
		<a href="#">Mot de passe oublier</a>
		<a href="/inscription">Créer un compte</a>
		

	</form>
</body>
</html>