<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet">
<title>Page Connexion</title>
</head>
<body>
	<h1>ENI-Enchères</h1>

	<div class="block-connexion">
		<form action="connexion" method="post">
			<div class="conteneur-input">
				<label for="name">Identifiant : </label> 
				<input type="text" id="name" name="user_name">
			</div>
			<div class="conteneur-input">
				<label for="mdp">Mot de passe : </label>
				<input type="password" id="mdp" name="mdp">
			</div>
			
			<div id="block-conteneur-choix">
				<div id="block-input-connexion">
					<input type="submit" name="Connexion" value="Connexion">
				</div>
				
				<div id="block-choix">
					<div class="block-checkbox">
						<input type="checkbox" name="ssdm" >
						<label for="ssdm">Se souvenir de moi</label>
					</div>
					<div class="block-checkbox">
						<a href="#">Mot de passe oublier</a>
					</div>
				</div>
			</div>
			
			<div id="liens-inscription">
				<button href="/inscritpion">Créer un compte</button>
			</div>
		</form>
	</div>
</body>
</html>