<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page Acquisition</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div data-th-replace="~{fragments/header :: header}"></div>
	<div class="conteneur-block">
		<div id="conteneur-img-detail">
			<img id="img-detail" alt="" src="/img/imagePcTest.jpeg">	
		</div>
		
		<div class="conteneur-block-centre">
			
			<div id="h3-description">
				<h3>Vous avez remporté la vente</h3>
			</div>
			
			<div class="block-description">
				<p>Nom de l'article</p>
			</div>
			
			<div class="block-description">		
				<p class="titre-description">Description :</p>
				
				<div class="description">
					<p class="p-description">Description 1</p>
					<p class="p-description">Description 1</p>
				</div>
			</div>
			
			<div class="block-description">
				<p class="titre-description">Meilleur offre :</p>
				<p class="description">210 pts par jojo</p>
			</div>
			
			<div class="block-description">
				<p class="titre-description">Mise a prix :</p>
				<p class="description">185 points</p>
			</div>
			
			<div class="block-description">
				<p class="titre-description">Fin de l'enchère :</p>
				<p class="description">185 points</p>
			</div>
			
			<div class="block-description">
				<p class="titre-description">Retrait :</p>
				
				<div class="description">
				<p class="p-description">5 rue des Pisons</p>
				<p class="p-description">44000 Nantes</p>
				</div>
			</div>
			
			<div class="block-description">
				<p class="titre-description">Vendeur :</p>
				<p class="description">NinaJea</p>
			</div>
			
			<div class="block-description">
				<p class="titre-description">Tel :</p>
				<p class="description">06060606</p>
			</div>
			
			<div class="block-button">
				<button onclick="window.location.href='/'">Back</button>
			</div>
			
			
		</div>
	</div>
	
</body>
</html>